<header>
    <h1 class="ui header">
        <a href="<%= root_path() %>" class="ui image">
            <%= image_tag("panda-2.png") %>
        </a>
        <div class="content">
            <%= render("partials/app_title") %>
            <div class="sub header">Your companion for food delivery.</div>
        </div>
    </h1>

    <div class="ui divider"></div>
</header>