<%
    name = controller.action_name
    navs = [
        {
            url: !@signed_in ? new_session_path() : nil,
            active: controller.on_page("sessions", "new", "create") ||
                controller.on_page("users", "new", "create"),
            text: "Auth",
            icon: "green lock",
            data: nil
        },
        {
            url: @signed_in ? destroy_session_path() : nil,
            active: controller.on_page("sessions", "destroy"),
            text: "Sign Out",
            icon: "green sign out alternate",
            data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to sign out?",
            }
        }
    ]
%>
<div id="navigation-parent" class="four wide column">
    <nav id="navigation" class="ui fluid vertical pointing compact menu">
        <% for nav in navs%>
            <%
                url = nav[:url]
                active = nav[:active]
                text = nav[:text]
                icon = nav[:icon]
                data = nav[:data]
                icon = "<i class='icon #{icon}'></i>"
                body = raw("#{icon}#{text}")
            %>
            <% if url %>
                <%= link_to(body, url, data: data, class: ["item", ("active" if active)].join(" ")) %>
            <% end %>
        <% end %>
    </nav>
</div>