<%
    navs = [
        {
            url: !@signed_in ? new_session_path() : nil,
            active: controller.on_page("sessions", "new", "create") ||
                controller.on_page("users", "new", "create"),
            text: "Auth",
            icon: "green lock",
            data: nil
        },
        {
            url: @signed_in && (@client || @customer) ? create_kiosk_path() : nil,
            active: controller.on_page("kiosks", "show", "new", "create", "destroy"),
            text: "Kiosks",
            icon: "green store",
            data: nil
        },
        {
            url: @signed_in && @permissions.include?(Permission::CLIENT) ? create_product_path() : nil,
            active: controller.on_page("products", "new", "create", "destroy"),
            text: "Foods & Beverages",
            icon: "green utensils",
            data: nil
        },
        {
            url: @signed_in && @permissions.include?(Permission::CLIENT) ? create_menu_path() : nil,
            active: controller.on_page("menus", "new", "create", "destroy"),
            text: "Menus",
            icon: "green clipboard list",
            data: nil
        },
        {
            url: @signed_in && @customer ? edit_cart_path() : nil,
            active: controller.on_page("purchases", "edit", "update"),
            text: "Cart",
            icon: "green cart",
            data: nil
        },
        {
            url: @signed_in ? destroy_session_path() : nil,
            active: controller.on_page("sessions", "destroy"),
            text: "Sign Out",
            icon: "green sign out alternate",
            data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to sign out?",
            }
        },
    ]
%>
<div id="navigation-parent" class="four wide column">
    <nav id="navigation" class="ui fluid vertical pointing compact menu">
        <% for nav in navs%>
            <%
                url = nav[:url]
                active = nav[:active]
                text = nav[:text]
                icon = nav[:icon]
                data = nav[:data]
                icon = "<i class='icon #{icon}'></i>"
                body = raw("#{icon}#{text}")
            %>
            <% if url %>
                <%= link_to(body, url, data: data, class: ["item", ("active" if active)].join(" ")) %>
            <% end %>
        <% end %>
    </nav>
</div>